<div class="pageContent">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card table-first-dashboard">
                    <div class="d-inline-block p-4">
                        <span class="search">
                            <!-- <i class="fas fa-search"></i> -->
                            <input type="text" placeholder="Search">
                        </span>
                    </div>
                    <div class="table-responsive table-left-dashboard">
                        <table class="table text-left" id="dtBasicExample">
                            <thead>
                                <tr *ngIf="headerList && headerList.length">
                                    <th scope="col" *ngFor="let item of headerList">{{item}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let list of receviedData;let i=index">
                                    <!-- <th scope="row">1</th> -->
                                    <td>{{i+1}}</td>
                                    <td *ngFor="let item of list; let k = index;"><span [ngClass]="k == 1 ? 'badge-pill badge-success' : ''">{{item}}</span></td>
                                    <!-- <td><span class="badge-pill badge-success">{{list.duration}}</span></td> -->
                                    <td class="editIcon"><i class="fas fa-edit success"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <nav aria-label="Page navigation example">
                            <ul class="pagination pg-blue">
                              <li class="page-item ">
                                <a class="page-link" tabindex="-1"><i class="fas fa-chevron-left"></i></a>
                              </li>
                              <li class="page-item"><a class="page-link">1</a></li>
                              <li class="page-item active">
                                <a class="page-link">2 <span class="sr-only">(current)</span></a>
                              </li>
                              <li class="page-item"><a class="page-link">3</a></li>
                              <li class="page-item ">
                                <a class="page-link"><i class="fas fa-chevron-right"></i></a>
                              </li>
                            </ul>
                          </nav>
                </div>
            </div>
        </div>
    </div>
</div>



