<div class="pageContent">
    <div class="container-fluid">
        <div class="row">
            <div class="table-component-header w-100 p-3">
                <span class="float-left ml-3">Job</span>
                <button class="btn btn-primary float-right" data-toggle="modal" data-target="#modalLoginForm"><i
                        class="fas fa-plus mr-2"></i> Add
                    Job</button>
            </div>
        </div>
    </div>
</div>


<app-tabel [jobList]='jobList' [jobHeader]='jobHeader'></app-tabel>


<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <i class="fas fa-plus-circle mr-3"></i>
                <h4 class="modal-title w-100 font-weight-bold">Add Job</h4>
            </div>
            <div class="modal-body">
                <form [formGroup]="createNewJobForm" autocomplete="off">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="md-form">
                                <input type="text" class="form-control" formControlName="clientName">
                                <label data-error="wrong" data-success="right" for="defaultForm-email">Client</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="md-form">
                                <input type="text" class="form-control" formControlName="location">
                                <label data-error="wrong" data-success="right" for="defaultForm-pass">Location</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="instructorName">Choose Instructor</label>
                            <select class="browser-default custom-select custom-select-lg mb-1" id="instructorName"
                                formControlName="instructor">
                                <option>Choose Instructor</option>
                                <option value="{{name.instructorName}}" *ngFor="let name of listOfInstructor">
                                    {{name.instructorName}}</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="courseName">Choose Instructor</label>
                            <select class="browser-default custom-select" id="courseName" formControlName="course">
                                <option>Choose Course</option>
                                <option value="1" *ngFor="let name of listOfCourse">{{name.courseName}}</option>
                            </select>
                        </div>
                        <div class="col-md-6 ml-auto">
                            <div class="md-form">
                                <input placeholder="Selected date" type="text" id="startDate"
                                    class="form-control datepicker" formControlName="startingDate">
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-4">
                            <label for="">Choose Frequency</label>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="materialUnchecked1">
                                <label class="form-check-label" for="materialUnchecked1">Monday</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="materialUnchecked2">
                                <label class="form-check-label" for="materialUnchecked2">TuesDay</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="materialUnchecked3">
                                <label class="form-check-label" for="materialUnchecked3">WednesDay</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="materialUnchecked4">
                                <label class="form-check-label" for="materialUnchecked4">ThrusDay</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="materialUnchecked5">
                                <label class="form-check-label" for="materialUnchecked5">FriDay</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="materialUnchecked6">
                                <label class="form-check-label" for="materialUnchecked6">SaturDay</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="materialUnchecked7">
                                <label class="form-check-label" for="materialUnchecked7">SunDay</label>
                            </div>
                        </div>

                        <div class="col-md-8">
                            <div class="selectedDate">
                                <i class="fas fa-calendar-alt"></i>Dates for the job
                                <div class="table-responsive">
                                    <table class="table text-left" id="dtBasicExample">
                                        <tr>
                                            <th>Sr.No</th>
                                            <th>Date</th>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>list.courseName</td>
                                            <td><i class="fas fa-caret-down"></i></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="d-flex justify-content-center mb-2">
                <button class="btn btn-primary" type="submit" (click)="addNewJob()">
                    <i class="fas fa-plus mr-4"></i>Add Job</button>
            </div>
        </div>
    </div>
</div>

