/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
}
div#slide-out {
    margin-top: 80px;
    overflow: hidden;
}
.fixed-sn .double-nav, .fixed-sn main, .fixed-sn footer{
    padding-left: 0;
}
nav.navbar.fixed-top.double-nav {
    background-image: linear-gradient(#6441A5, #2A0845);
    background-color: #6441A5;
}
.sn-bg-4{
    background-image: none !important;
    background-color: #4D4F5C !important;
}